name: hive-monitor release

on:
  workflow_call:

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - uses: actions/cache@v4
        with:
          path: |
            ~/.cache/pip
            ~/.platformio/.cache
            ./.pio
          key: hive-monitor-release

      - uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install PlatformIO Core
        run: pip install --upgrade platformio

      - name: Build hive-monitor
        run: |
          cd hive-monitor
          pio run -e esp32dev

      - name: Prepare binary
        run : |
          cd hive-monitor
          zip binary .pio/build/esp32dev/firmware.bin

      - name: Release binary
        if: github.event_name == 'push' && (startsWith(github.ref, 'refs/tags/hive-monitor@'))
        uses: softprops/action-gh-release@v1
        with:
          files: ./hive-monitor/binary.zip
