name: CI

on:
  push:
  pull_request:

jobs:
  proxy_lint:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    uses: ./.github/workflows/_proxy_lint.yml

  proxy_test:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    uses: ./.github/workflows/_proxy_test.yml

  container:
    needs: [proxy_lint, proxy_test]
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    uses: ./.github/workflows/_proxy_container.yml
    permissions:
      contents: read
      packages: write

  monitor_test:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    uses: ./.github/workflows/_monitor_test.yml

  monitor_lint:
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository
    uses: ./.github/workflows/_monitor_lint.yml